# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file="../WeatherPy/weather_data.csv"
data_file=pd.read_csv(file)
data_file_df=pd.DataFrame(data_file)
data_file_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hermanus,-34.4187,19.2345,287.00,67,100,5.36,ZA,1662890133
1,1,Cururupu,-1.8283,-44.8683,298.22,86,10,1.65,BR,1662890134
2,2,Vélez-Málaga,36.7726,-4.1005,305.36,46,80,3.15,ES,1662890134
3,3,Faya,18.3851,42.4509,302.21,20,51,3.39,SA,1662890135
4,4,Castro,-24.7911,-50.0119,285.60,97,100,2.63,BR,1662890135

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
ndata_file_df=data_file_df.iloc[0:4]
ndata_file_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hermanus,-34.4187,19.2345,287.00,67,100,5.36,ZA,1662890133
1,1,Cururupu,-1.8283,-44.8683,298.22,86,10,1.65,BR,1662890134
2,2,Vélez-Málaga,36.7726,-4.1005,305.36,46,80,3.15,ES,1662890134
3,3,Faya,18.3851,42.4509,302.21,20,51,3.39,SA,1662890135

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use the Lat and Lng as locations and Humidity as the weight.
locations=ndata_file_df[['Lat','Lng']]
weight=ndata_file_df['Humidity']

# Plot heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 1)
# Add Layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the cities to fit weather conditions.

# Drop any rows that don't satisfy all three conditions. You want to be sure that the weather is ideal.
# A max temperature lower than 27 degrees but higher than 21
# Wind speed less than 4.5 m/s
# Zero cloudiness

filtered_city_data = ndata_file_df.loc[(ndata_file_df["Max Temp"] < 27) & (ndata_file_df["Max Temp"] > 21) & (ndata_file_df["Wind Speed"] < 4.5) & (ndata_file_df["Cloudiness"] == 0)]
filtered_city_data

Empty DataFrame
Columns: [Unnamed: 0, City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []

In [6]:
ndata_file_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hermanus,-34.4187,19.2345,287.00,67,100,5.36,ZA,1662890133
1,1,Cururupu,-1.8283,-44.8683,298.22,86,10,1.65,BR,1662890134
2,2,Vélez-Málaga,36.7726,-4.1005,305.36,46,80,3.15,ES,1662890134
3,3,Faya,18.3851,42.4509,302.21,20,51,3.39,SA,1662890135

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure