# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file="../WeatherPy/weather_data.csv"
data_file=pd.read_csv(file)
data_file_df=pd.DataFrame(data_file)
data_file_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hilo,19.7297,-155.0900,300.00,80,40,2.06,US,1662871518
1,1,Pershotravneve,51.3929,28.8684,284.33,93,99,3.37,UA,1662871518
2,2,Marzuq,14.4000,46.4667,301.87,35,93,1.35,YE,1662871518
3,3,Gawler,-34.6000,138.7333,288.98,61,65,4.19,AU,1662871429
4,4,Castro,-24.7911,-50.0119,287.03,98,100,2.78,BR,1662871451

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
ndata_file_df=data_file_df.iloc[0:4]
ndata_file_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hilo,19.7297,-155.0900,300.00,80,40,2.06,US,1662871518
1,1,Pershotravneve,51.3929,28.8684,284.33,93,99,3.37,UA,1662871518
2,2,Marzuq,14.4000,46.4667,301.87,35,93,1.35,YE,1662871518
3,3,Gawler,-34.6000,138.7333,288.98,61,65,4.19,AU,1662871429

In [4]:
# Configure gmaps
gmaps.configure(api_key='../api_keys.py/g_key')

# Use the Lat and Lng as locations and Humidity as the weight.
locations=ndata_file_df[['Lat','Lng']]
weight=ndata_file_df['Humidity']

# Plot heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=max(ndata_file_df["Humidity"]),
                                 point_radius = 1)
# Add Layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure