# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file="../WeatherPy/weather_data.csv"
data_file=pd.read_csv(file)
# data_file_df.dropna(inplace = True)
data_file_df=pd.DataFrame(data_file)
data_file_df.set_index(data_file_df.columns[0])
data_file_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Yellowknife,62.4560,-114.3525,6.29,93,20,4.12,CA,1663047402
1,Thompson,55.7435,-97.8558,3.09,93,20,2.06,CA,1663047402
2,Cape Town,-33.9258,18.4232,14.95,81,0,5.81,ZA,1663047232
3,Ushuaia,-54.8000,-68.3000,5.81,56,20,3.60,AR,1663047403
4,Primorsko-Akhtarsk,46.0497,38.1747,20.22,67,3,6.47,RU,1663047403

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use the Lat and Lng as locations and Humidity as the weight.
locations=data_file_df[['Lat','Lng']]
weight=data_file_df['Humidity']

# Plot heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 1)
# Add Layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the cities to fit weather conditions.

# Drop any rows that don't satisfy all three conditions. You want to be sure that the weather is ideal.
# A max temperature lower than 27 degrees but higher than 21
# Wind speed less than 4.5 m/s
# Zero cloudiness

filtered_city_data = data_file_df.loc[(data_file_df["Max Temp"] < 27) & (data_file_df["Max Temp"] > 21) & (data_file_df["Wind Speed"] < 4.5) & (data_file_df["Cloudiness"] == 0)]
filtered_city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
41,Makakilo City,21.3469,-158.0858,26.18,66,0,3.09,US,1663047420
46,Kerman,30.2832,57.0788,22.92,33,0,2.06,IR,1663047423
83,Qaryat Sulūq,31.6682,20.2521,25.14,73,0,2.20,LY,1663047444
88,Westport,41.1415,-73.3579,22.93,94,0,2.06,US,1663047445
93,Angren,41.0167,70.1436,23.89,20,0,1.05,UZ,1663047447
132,Zhenlai,45.8495,123.2973,22.55,28,0,2.02,CN,1663047466
180,Payson,40.0444,-111.7321,22.68,37,0,0.00,US,1663047487
236,Falāvarjān,32.5553,51.5097,23.56,17,0,1.95,IR,1663047516
251,Hergla,36.0303,10.5090,24.92,78,0,1.03,TN,1663047524
263,Saint-Pierre,-21.3393,55.4781,23.82,53,0,2.06,RE,1663047530
278,Bani Walid,31.7566,13.9942,23.79,68,0,0.54,LY,1663047536
404,Pascagoula,30.3658,-88.5561,23.40,96,0,2.06,US,1663047588
467,Sesheke,-17.4759,24.2968,22.69,20,0,4.03,ZM,1663047613
493,Arrondissement de Toul,48.6667,5.9167,22.16,83,0,2.57,FR,1663047623
516,Isla Vista,34.4133,-119.8610,22.97,73,0,1.54,US,1663047634
537,Tooele,40.5308,-112.2983,21.64,38,0,3.09,US,1663047642

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df=filtered_city_data
hotel_df["Hotel Name"] = ""
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}


for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    # print(json.dumps(response, indent=4, sort_keys=True))
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

C:\Users\User\AppData\Local\Temp\ipykernel_11480\1895811854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

Retrieving Results for Index 41: Makakilo City.
Closest hotel is Marriott's Ko Olina Beach Club.
------------
Retrieving Results for Index 46: Kerman.
Closest hotel is هتل آپارتمان آسام.
------------
Retrieving Results for Index 83: Qaryat Sulūq.
Closest hotel is ورشة الحضيري لاكترونات وخدمات النت.
------------
Retrieving Results for Index 88: Westport.
Closest hotel is The Westport Inn.
------------
Retrieving Results for Index 93: Angren.
Closest hotel is Sardor Salimovich.
------------
Retrieving Results for Index 132: Zhenlai.
Missing field/result... skipping.
------------
Retrieving Results for Index 180: Payson.
Closest hotel is Quality Inn Payson I-15.
------------
Retrieving Results for Index 236: Falāvarjān.
Closest hotel is بوستان.
------------
Retrieving Results for Index 251: Hergla.
Closest hotel is Dar Khadija.
------------
Retrieving Results for Index 263: Saint-Pierre.
Closest hotel is Alize Plage.
------------
Retrieving Results for Index 278: Bani Walid.
Closest hotel is نيك بلاش.
------------
Retrieving Results for Index 404: Pascagoula.
Closest hotel is Regency Inn.
------------
Retrieving Results for Index 467: Sesheke.
Closest hotel is Protea Hotel by Marriott Zambezi River Lodge.
------------
Retrieving Results for Index 493: Arrondissement de Toul.
Closest hotel is Abc Hotel.
------------
Retrieving Results for Index 516: Isla Vista.
Closest hotel is Best Western Plus South Coast Inn.
------------
Retrieving Results for Index 537: Tooele.
Closest hotel is Holiday Inn Express & Suites Tooele, an IHG Hotel.
------------

In [8]:
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
41,Makakilo City,21.3469,-158.0858,26.18,66,0,3.09,US,1663047420,Marriott's Ko Olina Beach Club
46,Kerman,30.2832,57.0788,22.92,33,0,2.06,IR,1663047423,هتل آپارتمان آسام
83,Qaryat Sulūq,31.6682,20.2521,25.14,73,0,2.20,LY,1663047444,ورشة الحضيري لاكترونات وخدمات النت
88,Westport,41.1415,-73.3579,22.93,94,0,2.06,US,1663047445,The Westport Inn
93,Angren,41.0167,70.1436,23.89,20,0,1.05,UZ,1663047447,Sardor Salimovich

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))